/*
    !Color Scheme!
    light blue:82D2FF   
    dark blue 0096FF
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5em;
}
/* end of copied code from site, the role was to reset all the default values set for css*/








/* Master Page CSS*/
*{
    font-size:14pt;

}
h1
{
    
}
p
{
    font-family: 'Noto Sans', sans-serif;
}
/* Global font sizes */


/* Header */
    header
    {
        min-width:100%;
        width:100%;
        position:fixed;
        top:0;
        height:60px;

        background-color:#fff;
        box-shadow:0px 0px 15px rgba(0,0,0,0.3);
        overflow:hidden;
        background-image:url(/images/logo.png);
        background-positon:10px 30px;
        background-size:contain;
        background-repeat:no-repeat;
        float:left;
        
    }
    .header_logo img
    {
        width:200px;
        height:65px;
        
    }
    .header_navigation
    {
        width:80%;
      
        position:relative;
        
        left:10%;
        top:20px;
    }
    .header_navigation ul
    {
        display:block;
        text-decoration:none;
        list-style-type:none;
    }
    .header_navigation li
    {
        display:inline-block;
    }
    .header_navigation  a
    {
        color:#0096FF;
        padding-left:10px;
        padding-right:10px;
        text-decoration:none;
    }
    .header_navigation  a:hover
    {
        color:#fff;
        background-color:#0096FF;
        padding-top:65px;
        padding-bottom:60px;
        transition: all 0.4s;
        -moz-transition: all 0.4s;
        -webkit-transition: all 0.4s;                        
        -o-transition: all 0.4s;    
    }
    .header_login
    {
        
    }



    /* Wrapper*/
    .wrapper
    {
        width:800px;
        min-width:800px;
        max-width:800px;
        margin:0px auto;
    }
    /*content holder*/
    .content_holder
    {
        box-shadow:0px 0px 15px rgba(0,0,0,0.2);
        margin-top:70px;
        background-color:#fff;
        overflow:hidden;
        max-width:800px;
        width:800px;
    }


/* End of Master Page CSS*/

/* Page layout */

    /* Page title */
    .page_title
    {
        border-bottom:thick solid #0096FF;
        height:30px;
        max-width:800px;
        width:800px;
        padding:15px;
        font-size:25pt;

    }
    .title
    {
        border-bottom:thick solid #0096FF;
        height:30px;
        max-width:800px;
        width:800px;
        padding:15px;
    }
    /* Page Content */
    .page_content 
    {
        min-height: 400px;
        max-width: 800px;
        width: 800px;
    }
    .page_content p 
    {
        padding:20px;
    }
    .page_content img
    {
        width:100%;
    }
    .post_content p
    {
       padding:10px;
    }
    .content 
    {
        min-height: 400px;
        max-width: 800px;
        width: 800px;
    }

    /* Page Footer */
    .page_footer
    {
        min-height:50px;
        max-width:800px;
        width:800px;
        line-height:1.5em;
        text-align:center;
    }
    .page_footer p
    {
        padding:20px;
        font-size:14pt;
    }
    
    .author
    {
        text-align:center;
    }


    /* post css*/
    


/* Front Page */

/* Image carousel*/
    #carousel {
        width: 800px;
        max-width: 800px;
        height:400px;
        background-color:#000;
        transition: all 0.4s;
        -moz-transition: all 0.4s;
        -webkit-transition: all 0.4s;                        
        -o-transition: all 0.4s; 
        overflow:hidden;
     }

    #carousel ul {
        width: 800px;
        padding: 0;
        margin: 0;
    }

    #carousel ul li {
        width: 800px;
        text-align: center;
        height: 100%;
        list-style: none;
        float:  left;
    }
    #carousel_text 
    {
        width:780px;
        max-width:780px;
        max-height:60px;
        overflow:hidden;
       bottom:0;
       background-color:rgba(0,0,0,0.5);
       top:-70px;
       max-height:50px;
	    padding:10px;
	    z-index:99;
	    position:relative;
	    color:#fff;
    }

    footer
    {
        max-width:800px;
        width:800px;
        
        margin: 0 auto;
        margin-top:40px;
        
        text-align:center;
        overflow:hidden;
    }
    footer p
    {
        padding-left:10px;
        padding-top:5px;
        padding-right:10px;
    }
    footer img
    {
        padding-top:5px;
    }
    .footer_navigation
    {
        max-width:800px;
        display:inline;
        padding-left:10px;
        padding-top:5px;
        padding-right:10px;
    }
    .footer_navigation ul
    {
        display:block;
        text-decoration:none;
        list-style-type:none;
    }
    .footer_navigation li
    {
        display:inline;
    }
    .footer_navigation  a
    {
        color:#0096FF;
        padding-left:10px;
        padding-right:10px;
        text-decoration:none;
    }
    .footer_navigation  a:hover
    {
        color:#fff;
        color:#222;
        transition: all 0.4s;
        -moz-transition: all 0.4s;
        -webkit-transition: all 0.4s;                        
        -o-transition: all 0.4s;    
    }