

*{

     font-family: 'PT Sans', sans-serif;
}

body{
    background-color:#fafafa;
    font-family: 'PT Sans', sans-serif;
}
/*color scheme*/
/*light blue:82D2FF
    
    dark blue 0096FF*/

/*Start of header*/
header {
    width:100%;
    background-color:#fff;
    position:fixed;
    top:0px;
    height:70px;
    box-shadow:0px 0px 15px rgba(0,0,0,0.2);
    display:inline-block;
     z-index: 10;
     background-image:url('../img/logo.jpg');
     background-position:center; 
     background-repeat:no-repeat;
     background-size:contain;
     border: 2px solid #fff;
     overflow:hidden;
	 
}

header ul{
    font-size:1.1em;
    margin:0;
	color: #0096FF;
    font-family: 'PT Sans', sans-serif;
    text-decoration:none;
    list-style-type:none;
    margin-top:110px;

    text-align:center;
}
header li{
    
}
header ul li a{
    text-decoration:none;
    color: #0096FF;
    margin-left: 10px;
}
header a:hover {
	color: #fff;
    background-color: #0096FF;
     padding:5px;
}





/* Sizes for the bigger menu */
header.large{ height: 130px;
              
}
header.large ul{
    text-align:center;
}
header.large li{
    margin-left: 10px;
}
/* Sizes for the smaller menu */
header.small{ height: 70px; 
              background-image:url('../img/logo_small.jpg');
              background-position:4% 1%; 

}
header.small img{height: 50px; margin-top: -10px;margin-top:5px; }
    header.small ul {
        margin-top: 30px;
        margin-left: 150px;
        text-align:left;
    }
    header.small li {
        margin-left: 10px;
    }


section.stretch{ float: left; height: 1500px; width: 100%; }

section.stretch p{ font-size: 30px; color: #969696; text-align: center; position: relative; margin-top: 250px; }
section.stretch p.bottom{ top: 100%; } 

header,nav, a, img, li{
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;                        
  -o-transition: all 0.4s;     
}



.Header_navigation a{
    padding: 3px 12px;
	text-decoration: none;
	color: #0096FF;
    font-size:1.1em;
    display:inline;
   
}
ul .navigation{
list-style-type:none;
margin:0;
padding:0;
text-align:center;
}

li
{
display:inline;
text-align:center;
}

.Header_navigation a:hover {
	color: #fff;
    background-color: #0096FF;
}
.navi {
    margin-left:15%;
    text-align:center;
    width:60%;
    display:inline-block;

    float:left;

}
.login_control{
    position:fixed;
    display:block;
    float:right;
    
}
/*end of header*/

/* login control
   Login button*/
.loginControls{
    top:0;
    right:0;
    position:fixed;
    color:#000;

    background-color:#fff;
    padding:10px;
}
.loginControls a{
    color:#0096FF;
}
.loginControls a:hover{
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    background-color:#0096FF;
	color: #fff;
}
/*login panel*/
.loginPanel{
    width:400px;
    height:130px;
    background-color:#0096FF;
    top:0;
    right:0;
    position:fixed;
    transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;                        
  -o-transition: all 0.4s; 
   display:none;
}
.loginPanel.appear{
    
}
.loginPanel.small{
    height:70px;
    
}
.loginPanel.large{
    
}

.loginPanel p {
    color:#fff;
    padding:10px;
    font-family: 'PT Sans', sans-serif;
}

/*main content*/
.wrapper {
width:900px;
padding-bottom:20px;
min-height:900px;
   
   
margin:0px auto;


}

.content_holder {
   font-family: 'PT Sans', sans-serif;
  background-color:#fff;
  margin-top:140px;
   box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}

.article_sub{
   font-family: 'PT Sans', sans-serif;
  background-color:#fff;
  margin-top:40px;
   box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}

.content_holder.large {
   font-family: 'PT Sans', sans-serif;
  background-color:#fff;
  margin-top:140px;
   box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}
.content_holder.small {
   font-family: 'PT Sans', sans-serif;
  background-color:#fff;
  margin-top:180px;
   box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}
.content_holder h1{
    font-size:2em;
}
.content_holder p{
    font-size:1em;
}





footer{
    
    background-color:#f6f6f6;
    width:900px;
    border-top:2px solid #0096FF;
    height:40px;
    font-family: 'PT Sans', sans-serif;


    
}

footer ul li a{
    text-decoration:none;
    color: #0096FF;
    margin-left:3px;
    font-family: 'PT Sans', sans-serif;
}
footer p{
   color: #6f6e6e;
   font-size:1.2em;
   text-align:center;
   font-family: 'PT Sans', sans-serif;
}

/*front page*/
.news_banner
{
    margin: 0 auto;
    max-width:850px;
    height:100px;
    padding-top:120px;
    padding-left:25px;
    padding-right:25px;
    background-color:#fff;
    margin-top:10px;
    margin-bottom:20px;
    box-shadow:0px 0px 15px rgba(0,0,0,0.2);

}
.news_banner.large
{
    max-width:900px;
    height:100px;
    padding-top:120px;
    padding-left:25px;
    padding-right:25px;
background: -moz-linear-gradient(top,  rgba(209,209,209,1) 0%, rgba(233,233,233,1) 53%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(209,209,209,1)), color-stop(53%,rgba(233,233,233,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(209,209,209,1) 0%,rgba(233,233,233,1) 53%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(209,209,209,1) 0%,rgba(233,233,233,1) 53%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(209,209,209,1) 0%,rgba(233,233,233,1) 53%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(209,209,209,1) 0%,rgba(233,233,233,1) 53%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}
.news_banner.small
{
    max-width:900px;
    height:100px;
    padding-top:160px;
    padding-left:25px;
background: -moz-linear-gradient(top,  rgba(209,209,209,1) 0%, rgba(233,233,233,1) 53%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(209,209,209,1)), color-stop(53%,rgba(233,233,233,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(209,209,209,1) 0%,rgba(233,233,233,1) 53%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(209,209,209,1) 0%,rgba(233,233,233,1) 53%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(209,209,209,1) 0%,rgba(233,233,233,1) 53%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(209,209,209,1) 0%,rgba(233,233,233,1) 53%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}
.news_banner a
{
    color:#0096FF;
    font-size:1.2em;
    display:block;
    text-align:left;
    font-family: 'PT Sans', sans-serif;
    
}
.news_banner ul li
{
    list-style-type:none;

}
.front{
    width:640px;
    padding:20px;
}
.front .title{
    color:#0096FF;
}
.front_image
{
    width: 100%;
    position: relative; 
}
.front_image img {
    width: 100%;
    position: relative; 
}
.front_image h2{
    
    position: absolute; 
   bottom: 0px; 
   color:#fff;
   left: 0; 
   height:70px;
   padding:20px;
   max-width: 100%; 
   overflow:hidden;
background-color:rgb



}
.front_post_content {
    position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 

    z-index:99;
    margin-top:-65px;
    padding-left:10px;
    padding-right:10px;
    line-height: 1.3em;
    background-color:#333;
    height:60px;
}
.event h1
{
    font-size:1.4em;
    text-align:center;

    color:#000;
    padding:5px;
 
}
.event h2 {
    font-size: 1.2em;
    text-align: center;
    background-color: #0096FF;
    color: #fff;
    margin-top:-15px;
    padding: 5px;
}
.event
{
    margin-top:47px;
    padding:20px;
    
    right:0;
    width:200px;
    float:right;
    min-height:100%;
    padding-left:0px;
    







}
.event img
{
    width:100%;
    padding-bottom:10px;
   
        
background: -moz-linear-gradient(left,  rgba(0,150,255,0) 0%, rgba(0,150,255,0) 4%, rgba(0,150,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,150,255,0)), color-stop(4%,rgba(0,150,255,0)), color-stop(100%,rgba(0,150,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,150,255,0) 0%,rgba(0,150,255,0) 4%,rgba(0,150,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,150,255,0) 0%,rgba(0,150,255,0) 4%,rgba(0,150,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,150,255,0) 0%,rgba(0,150,255,0) 4%,rgba(0,150,255,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,150,255,0) 0%,rgba(0,150,255,0) 4%,rgba(0,150,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000096ff', endColorstr='#0096ff',GradientType=1 ); /* IE6-9 */
}
.event p1
{
    font-size:0.9em;
}
.event p
{
    font-size:0.7em;
}


/*
    POST CSS
*/
.post
{

    padding:20px;
}
.post_title
{
    height:30px;
}
.post_title h1
{
    text-align:left;
    float:left;
    height:100px;
    color:#0096FF;
    font-size:2.5em;
    text-shadow: 0px 0px 12px #9d9d9d;

}
.post_title p
{
    text-align:right;
    color:#0096FF;

    font-size:1.6em;
    text-shadow: 0px 0px 12px #9d9d9d;
}
.post_image
{
    width:60%;
    margin: 0 auto;
   
}
.post_image img
{
    
    width:100%;
    margin:0 auto;
}
.post_content
{
    margin-top:20px;
    line-height: 1.3em;
}
.post_author
{
    text-align:right;
    color:#0096FF;
    font-size:1.5em;
    padding-top:15px;
}

/* contact page*/
.contact
{
    padding-bottom:20px;
}
.contact p
{
    list-style-type: square;
    font-size:0.8em;
}

/*About page*/
.about
{
    padding-bottom:20px;
}
.about ul li
{
    list-style-type: square;
    font-size:0.6em;
}
.about img
{
    width:500px;
    margin-left:150px;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}