
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



*{

     font-family: 'PT Sans', sans-serif;
}

body{
    background-color:#fafafa;
    font-family: 'PT Sans', sans-serif;
}
/*color scheme*/
/*light blue:82D2FF   
  dark blue 0096FF*/
  
/* Global font values */
h1
{
    font-size:1.5em ;
}
p
{
    font-size:1.0em ;
}

  
  
  
/*Start of header*/
header {
    width:100%;
    background-color:#fff;
    position:fixed;
    top:0px;
    height:70px;
    box-shadow:0px 0px 15px rgba(0,0,0,0.2);
    display:inline-block;
     z-index: 10;
     background-image:url('../img/logo.jpg');
     background-position:4% 1%; 
     background-repeat:no-repeat;
     background-size:contain;
     border: 2px solid #fff;
     overflow:hidden;
	 
}

header ul{
    margin:0;
	color: #0096FF;
    font-family: 'PT Sans', sans-serif;
    text-decoration:none;
    list-style-type:none;
    margin-top:25px;

    text-align:center;
}
header li{
    
}
header ul li a{
    text-decoration:none;
    color: #0096FF;
    margin-left: 10px;
    margin-top: 30px;

}
header a:hover {
	color: #fff;
    background-color: #0096FF;
     padding:5px;
}


header,nav, a, img, li{
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;                        
  -o-transition: all 0.4s;     
}



.Header_navigation a{
    padding: 3px 12px;
	text-decoration: none;
	color: #0096FF;
    display:inline;
   
}
ul .navigation{
list-style-type:none;
margin:0;
padding:0;
text-align:center;
}

li
{
display:inline;
text-align:center;
}

.Header_navigation a:hover {
	color: #fff;
    background-color: #0096FF;
}
.navi {
    margin-left:15%;
    text-align:center;
    width:60%;
    display:inline-block;

    float:left;

}

/*end of header*/

/* login control
   Login button*/
.loginControls{
    top:0;
    right:0;
    position:fixed;
    color:#000;

    background-color:#fff;
    padding:10px;
}
.loginControls a{
    color:#0096FF;
}
.loginControls a:hover{
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    background-color:#0096FF;
	color: #fff;
}
/*login panel*/
.loginPanel{
    width:400px;
    height:130px;
    background-color:#0096FF;
    top:0;
    right:0;
    position:fixed;
    transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;                        
  -o-transition: all 0.4s; 
   display:none;
}
.loginPanel.appear{
    
}
.loginPanel.small{
    height:70px;
    
}
.loginPanel.large{
    
}

.loginPanel p {
    color:#fff;
    padding:10px;
    font-family: 'PT Sans', sans-serif;
}

/*main content*/
.wrapper {
width:900px;

   
   
margin:0px auto;


}

.content_holder {
   font-family: 'PT Sans', sans-serif;
  background-color:#fff;
  margin-top:70px;
  padding:17px;
   box-shadow:0px 0px 10px rgba(0,0,0,0.2);
   min-height:600px;
   margin-bottom:15px;
}

.article_sub{
   font-family: 'PT Sans', sans-serif;
  background-color:#fff;
  margin-top:40px;
   box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}







footer{
    margin-top:20px;
    height:90px;
    font-family: 'PT Sans', sans-serif;
    text-align:center;
    width:900px;
margin:0px auto;
background-color: #fff;
box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}
footer img ul il
{
    padding: 20px;
}


/*front page*/

.front_post
{
	box-shadow:0px 0px 15px rgba(0,0,0,0.2);
	width:500px;
}
.front_post img
{
	width:100%;
}
.front_image p{
	bottom:0;
   background-color:rgba(0,0,0,0.5);
	margin-top:-87px;
	padding:10px;
	z-index:99;
	position:relative;
	color:#fff;


}



.event h1
{
    text-align:center;

    color:#000;
    padding:5px;
 
}
.event h2 {
    text-align: center;
    background-color: #0096FF;
    color: #fff;
    margin-top:-15px;
    padding: 5px;
}
.event
{
    margin-top:47px;
    padding:20px;
    
    right:0;
    width:200px;
    float:right;
    min-height:100%;
    padding-left:0px;
    







}
.event img
{
    width:100%;
    padding-bottom:10px;
   
        
background: -moz-linear-gradient(left,  rgba(0,150,255,0) 0%, rgba(0,150,255,0) 4%, rgba(0,150,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,150,255,0)), color-stop(4%,rgba(0,150,255,0)), color-stop(100%,rgba(0,150,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,150,255,0) 0%,rgba(0,150,255,0) 4%,rgba(0,150,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,150,255,0) 0%,rgba(0,150,255,0) 4%,rgba(0,150,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,150,255,0) 0%,rgba(0,150,255,0) 4%,rgba(0,150,255,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,150,255,0) 0%,rgba(0,150,255,0) 4%,rgba(0,150,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000096ff', endColorstr='#0096ff',GradientType=1 ); /* IE6-9 */
}




/*
    POST CSS
*/
.post
{

    padding:20px;
}
.post_title
{
    height:30px;
}
.post_title h1
{
    text-align:left;
    float:left;
    height:100px;
    color:#0096FF;
    text-shadow: 0px 0px 12px #9d9d9d;

}
.post_title p
{
    text-align:right;
    color:#0096FF;
    text-shadow: 0px 0px 12px #9d9d9d;
}
.post_image
{
    width:60%;
    margin: 0 auto;
   
}
.post_image img
{
    
    width:100%;
    margin:0 auto;
}
.post_content
{
    margin-top:20px;
    padding:20px;
    line-height: 1.3em;
}
.post_author
{
    text-align:right;
    color:#0096FF;
    padding-top:15px;
}

/* contact page*/
.contact
{
    padding-bottom:20px;
}
.contact p
{
    list-style-type: square;
}

/*About page*/
.about
{
    padding-bottom:20px;
}
.about ul li
{
    list-style-type: square;
}
.about img
{
    width:500px;
    margin-left:150px;
}


